# Tep du lieu Excel
*.xlsx
*.csv

# Tep nen PDF dau ra
*.zip

# Thu muc tam thoi va file compiler
_temp_all_in_one/
_temp_split/
__pycache__/
build/
dist/
*.spec

# Tep PDF
*.pdf

# Tep Word (Bo qua tat ca file Word TRU cac file template chuan)
*.docx
!Mau_mail_CNTT.docx
!Mau_mail_QTKDS.docx
!RikkeiBot_Deploy/Mau_mail_CNTT.docx
!RikkeiBot_Deploy/Mau_mail_QTKDS.docx

# Tep he thong
.DS_Store

# File cau hinh chua API Keys
config.json
RikkeiBot_Deploy/config.json
